<?xml version="1.0"?>
<config>
    <modules>
        <MageHackDay_TwoFactorAuth>
            <version>0.1.2</version>
        </MageHackDay_TwoFactorAuth>
    </modules>
    <global>
        <models>
            <twofactorauth>
                <class>MageHackDay_TwoFactorAuth_Model</class>
                <resourceModel>twofactorauth_resource</resourceModel>
            </twofactorauth>
            <twofactorauth_resource>
                <class>MageHackDay_TwoFactorAuth_Model_Resource</class>
                <entities>
                    <user_cookie><table>admin_user_cookie</table></user_cookie>
                </entities>
            </twofactorauth_resource>
        </models>
        <blocks>
            <twofactorauth>
                <class>MageHackDay_TwoFactorAuth_Block</class>
            </twofactorauth>
            <adminhtml>
                <rewrite>
                    <system_account_edit>MageHackDay_TwoFactorAuth_Block_Adminhtml_System_Account_Edit</system_account_edit>
                    <system_account_edit_form>MageHackDay_TwoFactorAuth_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <twofactorauth>
                <class>MageHackDay_TwoFactorAuth_Helper</class>
            </twofactorauth>
        </helpers>
        <resources>
            <twofactorauth_setup>
                <setup>
                    <module>MageHackDay_TwoFactorAuth</module>
                </setup>
            </twofactorauth_setup>
        </resources>
        <events>
            <controller_action_postdispatch_adminhtml>
                <observers>
                    <twofactorauth_user_tfa_enforce>
                        <class>twofactorauth/observer</class>
                        <method>checkTfaSubmitted</method>
                    </twofactorauth_user_tfa_enforce>
                </observers>
            </controller_action_postdispatch_adminhtml>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageHackDay_TwoFactorAuth before="Mage_Adminhtml">MageHackDay_TwoFactorAuth_Adminhtml</MageHackDay_TwoFactorAuth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_system_account_save>
                <observers>
                    <twofactorauth_controller_action_pre_dispatch_system_account_save>
                        <type>singleton</type>
                        <class>twofactorauth/observer</class>
                        <method>verifySecret</method>
                    </twofactorauth_controller_action_pre_dispatch_system_account_save>
                </observers>
            </controller_action_predispatch_adminhtml_system_account_save>
            <admin_session_user_login_success>
                <observers>
                    <twofactorauth_user_authenticate_after>
                        <type>singleton</type>
                        <class>twofactorauth/observer</class>
                        <method>adminUserAuthenticateAfter</method>
                    </twofactorauth_user_authenticate_after>
                </observers>
            </admin_session_user_login_success>
        </events>
        <layout>
            <updates>
                <twofactorauth>
                    <file>twofactor.xml</file>
                </twofactorauth>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <customer_customer_authenticated>
                <observers>
                    <twofactorauth_customer_customer_authenticated>
                        <type>singleton</type>
                        <class>twofactorauth/observer</class>
                        <method>customerAuthenticateAfter</method>
                    </twofactorauth_customer_customer_authenticated>
                </observers>
            </customer_customer_authenticated>
        </events>
        <layout>
            <updates>
                <twofactorauth>
                    <file>twofactorauth.xml</file>
                </twofactorauth>
            </updates>
        </layout>
        <routers>
            <twofactorauth>
                <use>standard</use>
                <args>
                    <module>MageHackDay_TwoFactorAuth</module>
                    <frontName>twofactorauth</frontName>
                </args>
            </twofactorauth>
        </routers>
    </frontend>
    <default>
        <admin>
            <security>
                <active>1</active>
                <frontend_active>0</frontend_active>
                <twofactorauth_protected_resources>a:3:{s:18:"_1399777424266_266";a:1:{s:11:"resource_id";s:17:"admin/sales/order";}s:18:"_1399777434797_797";a:1:{s:11:"resource_id";s:12:"admin/system";}s:18:"_1399823001609_609";a:1:{s:11:"resource_id";s:3:"all";}}</twofactorauth_protected_resources>
            </security>
        </admin>
    </default>
</config>
