<?xml version="1.0"?>
<config>
    <modules>
        <MageHackDay_TwoFactorAuth>
            <version>0.0.1</version>
        </MageHackDay_TwoFactorAuth>
    </modules>
    <global>
        <models>
            <twofactorauth>
                <class>MageHackDay_TwoFactorAuth_Model</class>
            </twofactorauth>
        </models>
        <blocks>
            <twofactorauth>
            	<class>MageHackDay_TwoFactorAuth_Block</class>
            </twofactorauth>
        </blocks>
    </global>
</config>
