/* Setup QR code */
div#qr { width:850px; margin:170px auto; }

div#qr table.qr { width:100%; }
div#qr table.qr td:first-child { width:220px; }
div#qr table.qr td:last-child { vertical-align:middle; }

div#qr table.questions { margin:5px 0; }
div#qr table.questions tbody td { vertical-align: middle; }
div#qr table.questions tbody input { width:400px; }
div#qr table.questions tbody button.generate { margin: 3px; }

div#qr div.form-buttons { margin:12px 0 0 0; clear:both; text-align:right; }

div#qr div.manual-key { padding-top:5px; }

/* Edit 2FA */
div#qr.qr-edit { margin:0; }

/* Interstitial Page */
body#page-login div.account-name { padding-bottom:5px; }
body#page-login input#input_code { width:461px; }